﻿@model MVCuus.Models.Person

@{
    ViewBag.Title = "Create";
}
<style>
    body {
        background-color: lightyellow
    }
</style>
@*<link href="~/StyleSheet1.css" rel="stylesheet" />*@
<h2>Loo uus töötaja</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

 
<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.PersonID, "Isikukood", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PersonID, new { htmlAttributes = new { @*style = "background-color:lightgoldenrodyellow"*@ @class = "form-control", placeholder = "Sisesta isikukood" } })
            @Html.ValidationMessageFor(model => model.PersonID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, "Eesnimi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @*style = "background-color:lightgoldenrodyellow",*@ @class = "form-control", placeholder = "Eesnimi" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, "Perekonnanimi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @*style = "background-color:lightgoldenrodyellow",*@ @class = "form-control", placeholder = "Perekonnanimi" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    
    <div class="form-group">
        @Html.LabelFor(model => model.DepartmentID, "Osakond", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DepartmentId", null, "-- vali osakond --", htmlAttributes: new { @*style = "background-color:lightgoldenrodyellow",*@ @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @*style = "background-color:lightgoldenrodyellow",*@ @class = "form-control", placeholder = "example@example.com" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PersonState, "Staatus", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.PersonState, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownListFor(model => model.PersonState, null, htmlAttributes: new { @*style = "background-color:lightgoldenrodyellow",*@ @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PersonState, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserInRoles, "Roll", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("RoleId", null, "-- vali roll --", htmlAttributes: new { @*style = "background-color:lightgoldenrodyellow",*@ @class = "form-control" })
            @*@Html.EditorFor(model => model.UserInRoles, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.UserInRoles, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, "Registreerimise kuupäev", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @*style = "background-color:lightgoldenrodyellow",*@ @class = "form-control datepicker", @placeholder = "pp.kk.aaaa" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>
    @*//FOTO LISAMISE MÄRKISIN KOMMENTIGA, ET SEDA NÄHA EI OLEKS*@
    <div class="form-group">
            @Html.LabelFor(model => model.Picture, "Foto/fail", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
             @Html.EditorFor(model => model.Picture, new { htmlAttributes = new { @*style = "background-color:lightgoldenrodyellow",*@ @class = "form-control", placeholder = "Lisa pilt" } })
             @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvesta" class="btn btn-primary" />
        </div>
    </div>
</div>

}

<div>
    <b>@Html.ActionLink("Tagasi nimekirja", "Index", null, new { @class="btn btn-primary"})</b>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
