﻿@model MVCuus.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2></h2>

<div>
    <h4 style="font-size: 30px">@Html.DisplayFor(model => model.FullName)</h4>
    <hr />
    <dl class="dl-horizontal">

        @*<dt>
                @Html.DisplayNameFor(model => model.Picture)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Picture)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>

    </dl>
</div>

@* Kui pilt on olemas, siis lisa see details lehele *@
@if (Model.Picture != null)
{
    <div>
        <img src="@Url.Action("Get", "Files", new { id = Model.Picture })" height="120" />
    </div>
}
else
{
    <div>
        <b> </b>
    </div>
}



@*People lehel olevate inimeste Details lehele laheb kirje selle kohta, millistel reisidel inimene käinud on*@
@* Reiside nimed on tehtud lingiks, mis viib konkreetse reisi details vaate juurde *@
<h2>@Model.FullName on käinud sellistel reisidel</h2>
@*<ol>
        @foreach (var x in Model.Travels)
        {
            <li> <a href="/Travels/Details/@x.Id">@x.TravelName</a> </li>
        }
    </ol>*@

<table class="table">
    <tr>
        <th>
            <b>Puhkus</b>
        </th>
        <th>
            <b>Alguskuupäev</b>
        </th>
        <th>
            <b>Lõpukuupäev</b>
        </th>
        <th></th>
    </tr>
    @foreach (var x in Model.Travels)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.TravelName)*@
                <a href="/Travels/Details/@x.Id">@x.TravelName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => x.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => x.EndDate)
            </td>

            <td>
                @Html.ActionLink("Muuda", "Edit", "Travels", new { id = x.Id, back = "person" }, null) |
                @Html.ActionLink("Detailid", "Details", "Travels", new { id = x.Id, back = "person" }, null) |
                @Html.ActionLink("Kustuta", "Delete", "Travels", new { id = x.Id, back = "person" }, null)
            </td>
        </tr>
    }

</table>

<p>
    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<b>@Html.ActionLink("Muuda", "Edit", new { id = Model.Id })</b>*@
            @*<b>@Html.ActionLink("Muuda", "Edit", null, routeValues: new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })</b>
        </div>
    </div>*@
    <b>@Html.ActionLink("Tagasi listi", "Index", null, new { @class = "btn btn-primary" })</b>
</p>
