﻿@model MVCuus.Models.Person

@{
    ViewBag.Title = "Edit";
}

<h2>Muuda</h2>

@* Selle lisasin, et saaks pilti yles laadida *@
@using (Html.BeginForm("Edit", "People", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.PersonID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PersonID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PersonID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.DepartmentID, "Osakond", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DepartmentId", null, "-- vali osakond --", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
        </div>
    </div>


    @*<div class="form-group">
            @Html.LabelFor(model => model.DepartmentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartmentID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @* Selle rea kommenteerisin välja, kuna muutmise all ei ole vaja lisada alustamise kuupäeva *@

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PersonState, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.PersonState, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownListFor(model => model.PersonState, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PersonState, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserInRoles, "Roll", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("RoleId", null, "-- vali roll --", htmlAttributes: new { @class = "form-control" })
            @*@Html.EditorFor(model => model.UserInRoles, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.UserInRoles, "", new { @class = "text-danger" })
        </div>
    </div>

    @*People lehel olevate inimeste Details lehele laheb kirje selle kohta, mis rollides see inimene on*@
    <h2>@Model.FullName omab järgnevaid rolle</h2>
    <ol>
        @foreach (var x in Model.UserInRoles)
        {
            <li> @Html.ActionLink("- " + @x.Role.RoleName, "RemoveRole", new { id = Model.Id, roleid = x.Role.Id }) </li>
        }
    </ol>

    <h2>@Model.FullName ei oma neid rolle</h2>
    <ol>
        @foreach (MVCuus.Models.Role r in ViewBag.NewRoles)
        {
            <li>@Html.ActionLink("+ " + r.RoleName, "AddRole", new { id = Model.Id, roleid = r.Id }) </li>
        }
    </ol>


    @*<div class="form-group">
        @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Picture, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
        </div>
    </div>*@
    @* Naidatakse pilti korgusega 120 px *@
    @*@if (Model.Picture != null)
    {
        <img src="@Url.Action("Get", "Files", new { id = Model.Picture})" height=120 />
    }*@
    @* Kui on pilt, siis ytleb, et vali uus pilt. Kui pilti pole, siis "uus" ei oelda *@
    @*<br /><label for=" file">Vali @(Model.Picture == null ? "" : "uus" ) pilt @Model.FullName jaoks:</label>
    <input type="file" name="file" id="file" />*@



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvesta" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    <b>@Html.ActionLink("Tagasi listi", "Index", null, new { @class="btn btn-primary"})</b>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
