﻿@model IEnumerable<MVCuus.Models.Person>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: lightyellow
    }
</style>
@*<link href="~/StyleSheet1.css" rel="stylesheet" />*@
<h2>Töötajad</h2>

<p>
    @if (Request.IsAuthenticated)
        {
            MVCuus.Models.SiimJaSEntities db = new MVCuus.Models.SiimJaSEntities();
            var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();
            if (people != null)
            {
                if (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Admin"))
                {
    @Html.ActionLink("Loo uus", "Create", null, new { @class = "btn btn-primary" })
            }
           }
        }

<p>
    @using (Html.BeginForm("Index", "People", FormMethod.Get))
    {
        <b> Otsi töötajat:</b>
        // need koodid on selleks, kui tahta ka perekonna nime järgi otsingut. Koodil on mingi pisiviga ning hästi ei tööta. Kui  jääb aega, siis teen korda. Praegu aega ei raiska
        @Html.RadioButton("searchBy", "FirstName", true) <text> Eesnimi </text>
        @Html.RadioButton("searchBy", "LastName") <text>Perekonnanimi</text>
        @*@Html.RadioButton("Otsi", "DepartmentId") <text>Osakond</text> <br />*@
        @Html.TextBox("search") <input type="submit" value="Otsi" />
    }

</p>
@*@using (Html.BeginForm())
    {
    <p>
        Title: @Html.TextBox("Otsi töötaja") <br />
        <input type="submit" value="Filter" />
    </p>*@
@*}*@


@*Pagination funktsionaalsus*@
<p>

    @if (ViewBag.Page > 0)
    {
        <b>
            @Html.ActionLink(" << ", "Index", new { page = 0, sort = ViewBag.Sort, direction = ViewBag.Direction }) |
            @Html.ActionLink(" < ", "Index", new { page = Math.Max(ViewBag.Page - 1, 0), sort = ViewBag.Sort, direction = ViewBag.Direction }) |
        </b>
    }
    @if (ViewBag.Page < ViewBag.Pages)
    {
        <b>
            @Html.ActionLink(" > ", "Index", new { page = Math.Min(ViewBag.Page + 1, ViewBag.Pages), sort = ViewBag.Sort, direction = ViewBag.Direction }) |
            @Html.ActionLink(" >> ", "Index", new { page = ViewBag.Pages, sort = ViewBag.Sort, direction = ViewBag.Direction }) |
        </b>
    }
</p>



@* Lisasin sorteerimisvõimaluse *@
<table class="table">
    <tr style="background-color: darkgrey; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: black">
        <th>
            @*@Html.DisplayNameFor(model => model.PersonID)*@
            @Html.ActionLink(Html.DisplayNameFor(model => model.PersonID).ToHtmlString(), "Index", new { direction = ((ViewBag.Sort == "PersonID" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "PersonID" })
            @* See ülemine rida on Hennu tehtud, mida tuleks kasutada juhul, kui leht oleks multikeelne. Meie töö puhul sobivad ka alumised lahendused *@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            @Html.ActionLink("Eesnimi", "Index", new { direction = ((ViewBag.Sort == "FirstName" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "FirstName" })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LastName)*@
            @Html.ActionLink("Perenimi", "Index", new { direction = ((ViewBag.Sort == "LastName" && ViewBag.Direction == "ascending") ? "descending" : "ascending"), sort = "LastName" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.UserInRoles)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

    @if (Model.Count() == 0)
    {

    <tr>
     
            <td colspan="4"> Sellise nimega inimest ei leitud!</td>
          
    </tr>

    }
    else
    {

        foreach (var item in Model)
        {
            <tr style="background-color: lightgoldenrodyellow">
                <td>
                    @Html.DisplayFor(modelItem => item.PersonID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentID)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.UserInRoles)
                    </td>*@

                @*<td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (Request.IsAuthenticated)
                    {
                        MVCuus.Models.SiimJaSEntities db = new MVCuus.Models.SiimJaSEntities();
                        var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();
                        if (people != null)
                        {
                            if (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Admin"))
                            {
                                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) 
                            }
                        }
                    }
                    |
                    @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |

                    @if (Request.IsAuthenticated)
                    {
                        MVCuus.Models.SiimJaSEntities db = new MVCuus.Models.SiimJaSEntities();
                        var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();
                        if (people != null)
                        {
                            if (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Admin"))
                            {
                                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                            }
                        }
                    }

                </td>
            </tr>
        }
    }

</table>
      
         
                   