﻿@model MVCuus.Models.Spending

@{
    ViewBag.Title = "Delete";
}

<h2>Kulu kustutamine</h2>

<h3>Kas oled kindel, et soovid kustutada kulu?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal"  style="font-size:20px">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.File.Filename)
            </dt>*@

        @*<dd>
                @Html.DisplayFor(model => model.File.Filename)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Travel.TravelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travel.TravelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpendingType.SpendingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpendingType.SpendingName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    @*<div class="form-actions no-color">*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kustuta" class="btn btn-primary" />
            </div>
        </div>
        <b>@Html.ActionLink("Tagasi listi", "Index", null, new { @class = "btn btn-primary" })</b>
        }
    </div>
