﻿@model IEnumerable<MVCuus.Models.Spending>

@{
    ViewBag.Title = "Index";
}
<link href="~/StyleSheet1.css" rel="stylesheet" />
<h2>Kõigi kulutuste nimekiri</h2>

@*<p>
    <b>@Html.ActionLink("Loo uus", "Create", null, new { @class="btn btn-primary"})</b>
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.File.Filename)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Travel.TravelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpendingType.SpendingName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.File.Filename)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Travel.TravelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpendingType.SpendingName)
        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detailid","Details", new { id=item.Id }) |
            @Html.ActionLink("Kustuta","Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
