﻿@model MVCuus.Models.Travel

@{
    ViewBag.Title = "Täienda";
}
<style>
    body {
        background-color: lightyellow
    }
</style>
@*<link href="~/StyleSheet1.css" rel="stylesheet" />*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <table class="table">

            <tr>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h4><b>ÜLDANDMED:</b></h4>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PersonId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.PersonId, null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PersonId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TravelName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TravelName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TravelName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, 6, 50, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <table>
                        <tr>
                            <td>
                                <h5><b>@Html.DisplayNameFor(model => model.ReportState)&nbsp</b></h5>
                            </td>
                            <td>
                                <h4>&nbsp <u>@Html.DisplayFor(model => model.RepStatus)</u></h4>
                            </td>
                        </tr>
                    </table>
                    <hr />

                    <div class="form-group">

                        <table>
                            <tr>
                                <td>
                                    <div class="col-sm-offset-0 col-sm-1">
                                        <input type="submit" value="Salvesta ja välju" name="action:Edit" class="btn btn-primary" disabled="@ViewBag.repState" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-offset-0 col-sm-1">
                                        <input type="submit" value="Esita kinnitamiseks" name="action:ForConfirm" class="btn btn-primary" disabled="@ViewBag.repState" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-offset-0 col-sm-1">
                                        <input type="submit" value="Saada RMP-le" name="action:ForBooking" class="btn btn-primary" disabled="@ViewBag.repConfirm" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-offset-0 col-sm-1">
                                        <input type="submit" value="Kinnita" name="action:Confirm" class="btn btn-primary" disabled="@ViewBag.repConfirm" />
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-offset-0 col-sm-1">
                                        <input type="submit" value="Lükka tagasi" name="action:NotConfirm" class="btn btn-primary" disabled="@ViewBag.repConfirm" />
                                    </div>
                                </td>

                            </tr>
                        </table>
                        <p></p>
                        @*<table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Feedback, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            &nbsp   @Html.TextAreaFor(model => model.Feedback, 2, 50, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Feedback, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>*@
                    </div>
                </td>
                <td>
                    <h4><b>REISIKULU ANDMED:</b></h4>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeId, "Kulu", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("TypeId", null, "--Vali kulu liik--", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Document, "Fail", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div>
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lisa" name="action:AddSpending" class="btn btn-primary" disabled="@ViewBag.repState" />
                            <p></p>
                        </div>
                    </div>


                    <table border="1" class="table">

                        <tr>
                            <th>
                                <b>Kulu liik</b>
                            </th>
                            <th>
                                <b>Summa</b>
                            </th>
                            <th>
                                <b>Dokument</b>
                            </th>
                            <th>
                                <b>Halda kulu</b>
                            </th>
                        </tr>
                        @foreach (var x in ViewBag.sps)
                        {

                            <tr>
                                <td>
                                    @x.SpeType
                                </td>
                                <td>
                                    @x.Amount
                                </td>
                                <td>
                                    @*@x.File*@
                                </td>

                                <td>
                                    @Html.ActionLink("Muuda", "Edit", "Spendings", new { id = x.Id, back = "person" }, null) |
                                    @Html.ActionLink("Detailid", "Details", "Spendings", new { id = x.Id, back = "person" }, null) |
                                    @Html.ActionLink("Kustuta", "Delete", "Spendings", new { id = x.Id, back = "person" }, null)
                                    @*@using (Html.BeginForm("DeleteSpending", "Travels", new { id = x.Id }, FormMethod.Post, null))
        {
            <input type="submit" value="Delete" />
        }*@
                                </td>
                            </tr>

                        }
                    </table>
                    <table>
                        <tr>
                            <td>
                                <h4><b>Reisikulu kokku:&nbsp</b></h4>
                            </td>
                            <td>
                                <h4>@ViewBag.Sum €</h4>
                            </td>
                        </tr>
                    </table>

                </td>



            </tr>

        </table>
    </div>
}

<div>
    @*@if (ViewBag.Back == "person")
        {
            <õ>
                @Html.ActionLink("Back to person", "Edit", "People", new { id = Model.PersonId }, null)
            </õ>
        }
        else
        {
        <õ>*@
    <b>@Html.ActionLink("Tagasi nimekirja", "Index", null, new { @class = "btn btn-primary" })</b>
    @*</õ>
        }*@

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


