﻿@model MVCuus.Models.Travel


@{
    ViewBag.Title = "Loo uus reisiaruanne";
}

<style>
    body {background-color: lightyellow}
</style>

@*<link href="~/StyleSheet1.css" rel="stylesheet" />*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" >
        <table class="table">

            <tr>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h4><b>ÜLDANDMED:</b></h4>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PersonId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("PersonId", null, "--Vali töötaja--", htmlAttributes: new {@*style = "background-color:lightgoldenrodyellow",*@@class = "form-control"
                        })
                            @Html.ValidationMessageFor(model => model.PersonId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TravelName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TravelName, new { htmlAttributes = new { @*style = "background-color:lightgoldenrodyellow",*@@class = "form-control"
                        }
                    })
                            @Html.ValidationMessageFor(model => model.TravelName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @*style = "background-color:lightgoldenrodyellow",*@@class = "form-control datepicker"
                        }
                    })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @*style = "background-color:lightgoldenrodyellow",*@@class = "form-control datepicker"
                        }
                    })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, 6, 50, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.Feedback, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            &nbsp   @Html.TextAreaFor(model => model.Feedback, 2, 50, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Feedback, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <table>
                        <tr>
                            <td>
                                <h5><b>@Html.DisplayNameFor(model => model.ReportState):&nbsp</b></h5>
                            </td>
                            <td>
                                <h4>&nbsp <u>Alustamata</u></h4>
                            </td>
                        </tr>
                    </table>
                    <hr />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salvesta" name="action: Create" class="btn btn-primary" />
                        </div>
                    </div>
                </td>
                <td>
                    <h4><b>REISIKULU ANDMED:</b></h4>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("TypeId", null, "--Vali kulu liik--", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<form action="" method="post">
                            <input type="submit" value="Save" name="action:Edit" />

                            <input type="submit" value="Lisa" name="action:SaveTravel" />
                        </form>*@
                    <div>
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lisa" name="action:AddSpending" class="btn btn-primary" disabled="disabled" />
                            @*<button class="btn btn-primary" onclick="addSpending()">Salvesta kirje</button>*@
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}


<div>
    <b>@Html.ActionLink("Tagasi nimekirja", "Index",null,new { @class = "btn btn-primary"})</b>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}