﻿@model MVCuus.Models.Travel

@{
    ViewBag.Title = "Detailid";
}
@*<style>
    body {
        background-color: lightyellow
    }
</style>*@
<link href="~/StyleSheet1.css" rel="stylesheet" />
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <table class="table">

                    <tr>
                        <td>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <h4><b>ÜLDANDMED:</b></h4>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PersonId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.PersonId, null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.PersonId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TravelName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TravelName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.TravelName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <table>
                                <tr>
                                    <td>
                                        <h5><b>Kirjeldus&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b></h5>
                                    </td>
                                    <td>
                                        <h5>&nbsp&nbsp&nbsp&nbsp @Html.DisplayFor(model => model.Description)</h5>
                                    </td>
                                </tr>
                            </table>
                            <hr />

                            <table>
                                <tr>
                                    <td>
                                        <h5><b>@Html.DisplayNameFor(model => model.ReportState):&nbsp</b></h5>
                                    </td>
                                    <td>
                                        <h5>&nbsp @Html.DisplayFor(model => model.RepStatus)</h5>
                                    </td>
                                </tr>
                            </table>
                            <hr />


                        </td>
                        <td>
                            <h4><b>REISIKULU ANDMED:</b></h4>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("TypeId", null, "--Vali kulu liik--", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*@Html.DropDownListFor(model => model.PersonId, null, htmlAttributes: new { @class = "form-control" })*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <table border="1" class="table">

                                <tr>
                                    <th>
                                        <b>Kulu liik</b>
                                    </th>
                                    <th>
                                        <b>Summa</b>
                                    </th>
                                    <th>
                                        <b>Dokument</b>
                                    </th>

                                </tr>
                                @foreach (var x in ViewBag.sps)
                                {

                                    <tr>
                                        <td>
                                            @x.SpeType
                                        </td>
                                        <td>
                                            @x.Amount
                                        </td>
                                        <td>
                                            @*@x.File*@
                                        </td>


                                    </tr>

                                }
                            </table>
                            <table>
                                <tr>
                                    <td>
                                        <h4><b>Reisikulu kokku:&nbsp</b></h4>
                                    </td>
                                    <td>
                                        <h4>@ViewBag.Sum €</h4>
                                    </td>
                                </tr>
                            </table>

                        </td>



                    </tr>

                </table>
            </div>
        }
    </div>
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <b>@Html.ActionLink("Muuda", "Edit", null, routeValues:new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" }) </b>
            </div>
        </div>

                <div>
                    @if (ViewBag.Back == "person")
                {
                    
                        @Html.ActionLink("Tagasi inimese vaatesse", "Edit", "People", new { id = Model.PersonId}, null)
                    
            }
            else
            {
                <o>
                    <b>@Html.ActionLink("Tagasi listi", "Index", null, new { @class = "btn btn-primary" })</b>
                </o>
        }

                </div>
    </p>
