﻿@model IEnumerable<MVCuus.Models.Travel>

@{
    ViewBag.Title = "Index";
}
<style>
    body {background-color: lightyellow}
</style>
@*<link href="~/StyleSheet1.css" rel="stylesheet" />*@
<h2>Reisid</h2>

<p>
    <b>@Html.ActionLink("Loo uus", "Create", null, new { @class = "btn btn-primary" })</b>
</p>


@using (Html.BeginForm("Index", "Travels", FormMethod.Post))
{
    <p>
        <b>Viimase poole aasta reisiaruanded: </b>

            <input type="text" id="alates" name="alates" class="datepicker form-control" style="text-align:center" value="@ViewBag.alates.ToShortDateString()" onchange="this.form.submit()" />
            <input type="text" id="kuni" name="kuni" class="datepicker form-control" style="text-align:center" value="@ViewBag.kuni.ToShortDateString()" onchange="this.form.submit()" /><br>
        </p>

    @*@Html.Editor("alates", new { type = "date", @class = "datepicker form-control" })
        @Html.Editor("kuni", new { type = "date", @class = "datepicker form-control" })*@

    @*<input type="submit" value="otsi" />*@


}







<table class="table">

    <tr style="background-color: darkgrey; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: black; text-align:center">
        <th style="width:150px">
            @Html.DisplayNameFor(model => model.TravelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.ReportState)
        </th>
        <th style="text-align:center">
            Töötaja
        </th>
        <th style="text-align:center">
            Kulud kokku
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        var reportstatecheck = item.ReportState;

        if (reportstatecheck == 0)
        {
            @*<tr @(item.ReportState == 0 ? "style=backround-color: pink" : "")>*@
            <tr style="background-color:#ffffff">
                <td style="width:150px">
                    @Html.DisplayFor(modelItem => item.TravelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td style="width:50px">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.RepStatus)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Person.FullName)
                </td>
                <td style="text-align:center">
                    @*@Html.DisplayFor(modelItem => item.Spendings.Sum(x=>x.Amount)))*@
                    @item.Spendings.Sum(x => x.Amount)
                </td>
                <td>
                    @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        else if (reportstatecheck == 1)
        {
            <tr style="background-color:#ffff99">
            
                <td style="width:150px">
                    @Html.DisplayFor(modelItem => item.TravelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td style="width:50px">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.RepStatus)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Person.FullName)
                </td>
                <td style="text-align:center">
                    @item.Spendings.Sum(x => x.Amount)
                </td>
                <td>
                    @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        else if (reportstatecheck == 2)
        {
            <tr style="background-color:#bdf5bd">

                <td style="width:150px">
                    @Html.DisplayFor(modelItem => item.TravelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td style="width:50px">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.RepStatus)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Person.FullName)
                </td>
                <td style="text-align:center">
                    @item.Spendings.Sum(x => x.Amount)
                </td>
                <td>
                    @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        else 
        {
            <tr style="background-color:#ffe6e6">

                <td style="width:150px">
                    @Html.DisplayFor(modelItem => item.TravelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td style="width:50px">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.RepStatus)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Person.FullName)
                </td>
                <td style="text-align:center">
                    @item.Spendings.Sum(x => x.Amount)
                </td>
                <td>
                    @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
