﻿@model IEnumerable<MVCuus.Models.TravelPicture>

@{
    ViewBag.Title = "Index";
}

<h2>Travel Pictures</h2>

<p>
    @Html.ActionLink("Loo uus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File.Filename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Travel.TravelName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.File.Filename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Travel.TravelName)
        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detailid","Details", new { id=item.Id }) |
            @Html.ActionLink("Kustuta","Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
