﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Digifail</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Drop.css" rel="stylesheet" />
    <style>
        body {background-color: lightyellow}
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul style="font-size:25px" id="menu" class=" =">
                    <li>@Html.ActionLink("Reisid", "Index", "Travels")</li>

                    @if (Request.IsAuthenticated)
                    {
                        MVCuus.Models.SiimJaSEntities db = new MVCuus.Models.SiimJaSEntities();
                        var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();
                        if (people != null)
                        {
                            if ((people.UserInRoles.Select(x => x.Role.RoleName).Contains("Admin")) || (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Osakonna juht")))
                            {


                                <li>@Html.ActionLink("Töötajad", "Index", "People")</li>
                            }
                        }
                    }

                    <li>

                        @if (Request.IsAuthenticated)
                        {
                            MVCuus.Models.SiimJaSEntities db = new MVCuus.Models.SiimJaSEntities();
                            var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();
                            if (people != null)
                            {
                                if ((people.UserInRoles.Select(x => x.Role.RoleName).Contains("Admin")) || (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Ettevõtte juht")))
                                {


                                    <a href="#">Seaded</a>
                                }
                            }
                        }
                        <ul>
                            <li>@Html.ActionLink("Osakonnad", "Index", "Departments")
                            <li>@Html.ActionLink("Rollid", "Index", "Roles")
                            <li>
                                @Html.ActionLink("Reisikulu", "Index", "SpendingTypes")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Struktuur</a>

                        <ul>
                            <li>

                                <img src="~/Pildid/strukt2.png" width="800" height="700" />
                        </ul>
                    <li>

              
                        <li>
                            <a href="https://www.riigiteataja.ee/akt/129122015048" target="_blank" >Seadus</a>
                           
            </div>
        <div class="navbar-collapse collapse">

                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Reisikulude esitamise veebirakendus</p>
            </footer>
        </div>

        @* Datepicker lisatud, et saaks kuupäeva kalendrist valida *@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        @*<script src="~/Content/jquery-ui.min.js"></script>*@
        <script>
            $(document).ready(function () {
                $('.datepicker').datepicker({
                    dateFormat: 'dd.mm.yy'
                });
            });
        </script>


        @* Kalender eestikeelseks *@
        <script>
            /* Estonian initialisation for the jQuery UI date picker plugin. */
            /* Written by Mart Sõmermaa (mrts.pydev at gmail com). */
            (function (factory) {
                if (typeof define === "function" && define.amd) {
                    // AMD. Register as an anonymous module.
                    define(["../widgets/datepicker"], factory);
                } else {
                    // Browser globals
                    factory(jQuery.datepicker);
                }
            }(function (datepicker) {
                datepicker.regional.et = {
                    closeText: "Sulge",
                    prevText: "Eelnev",
                    nextText: "Järgnev",
                    currentText: "Täna",
                    monthNames: ["Jaanuar", "Veebruar", "Märts", "Aprill", "Mai", "Juuni",
                        "Juuli", "August", "September", "Oktoober", "November", "Detsember"],
                    monthNamesShort: ["Jaan", "Veebr", "Märts", "Apr", "Mai", "Juuni",
                        "Juuli", "Aug", "Sept", "Okt", "Nov", "Dets"],
                    dayNames: [
                        "Pühapäev",
                        "Esmaspäev",
                        "Teisipäev",
                        "Kolmapäev",
                        "Neljapäev",
                        "Reede",
                        "Laupäev"
                    ],
                    dayNamesShort: ["Pühap", "Esmasp", "Teisip", "Kolmap", "Neljap", "Reede", "Laup"],
                    dayNamesMin: ["P", "E", "T", "K", "N", "R", "L"],
                    weekHeader: "näd",
                    dateFormat: "dd.mm.yy",
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ""
                };
                datepicker.setDefaults(datepicker.regional.et);
                return datepicker.regional.et;
            }));
        </script>


    </body>
</html>
