﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li style="font-size:20px">
                @functions {
                    string Name(string user)
                    {
                        if (user.IndexOf(".") > user.IndexOf("@"))
                            return user.Substring(0, 1).ToUpper() + user.Substring(1, user.IndexOf("@") - 1);
                        else
                            return user.Substring(0, 1).ToUpper() + user.Substring(1, user.IndexOf(".") - 1) +
                                " "+ user.Substring(user.IndexOf(".") + 1).First().ToString().ToUpper()  
                                + user.Substring(user.IndexOf(".") + 2, user.IndexOf("@") - 2 - user.IndexOf("."));


                    }
                }
                @Html.ActionLink("Tere, " + Name(User.Identity.GetUserName()) + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li style="font-size:20px"><a href="javascript:document.getElementById('logoutForm').submit()">Logi välja</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li style="font-size:20px">@Html.ActionLink("Registreeri", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li style="font-size:20px">@Html.ActionLink("Logi sisse", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}