﻿/* the menu is the list, you don't need a wrapping div */
#menu {
    width: 100%;
    background: #222222;
    text-align: left;
}

    /* only mainmenu listitems */
    #menu > li {
        display: inline-block;
        position: relative;
        line-height: 35px;
    }

    /* links in mainmenu and both submenus */
    #menu a {
        display: block;
        text-decoration: none;
        padding: 0px 10px;
        color: #ffffff;
        text-align: Left;
    }

    /* submenus of both levels */
    #menu li ul {
        position: absolute;
        top: 35px;
        left: 0;
        min-width: 150px;
        background-color: rgba(0,0,0,0.5);
    }

    /* move the second level submenu to the right to don't overlap the parent submenu */
    #menu ul ul {
        top: 0;
        left: 150px;
    }

    /* hover effect for submenu links */
    #menu li li a:hover {
        background: rgb(34, 34, 34);
    }

    /* hide all submenus for default */
    #menu li ul {
        display: none;
    }

    /* show a submenu if the direct parent listitem is hovered */
    #menu li:hover > ul {
        display: ruby;
    }
