﻿@model MVCuus.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Detailid</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal" style="font-size:20px">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>

    </dl>
</div>
<p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <b>@Html.ActionLink("Muuda", "Edit", null, routeValues:new { id = Model.Id} , htmlAttributes: new { @class = "btn btn-primary" })</b>
        </div>
    </div>
    <b>@Html.ActionLink("Tagasi listi", "Index", null, new { @class = "btn btn-primary" })</b>
</p>
