﻿@model MVCuus.Models.Department

@{
    ViewBag.Title = "Edit";
}
<h2>Muuda osakonda</h2>

@using (Html.BeginForm("Edit", "Departments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="form-group" style="font-size:20px">
        @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(model => model.Picture, "Picture", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Picture", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
            </div>
        </div>*@


    @*<div class="form-group">
        @Html.LabelFor(model => model.DepartmentID, "Osakond", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DepartmentId", null, "-- vali osakond --", htmlAttributes: new { style = "background-color:lightgoldenrodyellow", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
        </div>
    </div>*@


    @if (Model.Picture != null)
    {
        <img src="@Url.Action("Get", "Files", new { id = Model.Picture } )" height="120" />
        <br />
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label for="file">Pilt osakonnale:</label>
            <input type="file" name="file" id="file" @*class="btn btn-primary"*@ />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvesta" class="btn btn-primary" />
        </div>
    </div>
</div>
}
<div>
    <b>@Html.ActionLink("Tagasi listi", "Index", null, new { @class="btn btn-primary"})</b>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

