﻿@model IEnumerable<MVCuus.Models.Department>

@{
    ViewBag.Title = "Departments - Osakonnad";
}

<h2>Osakonnad</h2>

<p>
    @Html.ActionLink("Loo uus", "Create", null, new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File.Filename)
        </th>
        <th></th>
    </tr>

   

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File.Filename)
            </td>
            <td>
                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
