﻿@model MVCuus.Models.Role

@{
    ViewBag.Title = "Delete";
}
<style>
    a{color:white}
</style>

<link href="~/StyleSheet1.css" rel="stylesheet" />

<h2>Rolli kustutamine</h2>

<h3>Kas oled kindel, et soovid kustutada rolli?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt @*style="text-align:right;display:block;position:relative;top:11px;font-size:20px">
            @Html.DisplayNameFor(model => model.RoleName):*@
        </dt>

        <dd style="font-size:30px">
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kustuta" class="btn btn-primary" />
        </div>
    </div>
                <b>@Html.ActionLink("Tagasi listi", "Index", null, new { @class="btn btn-primary"})</b> 
    }
    </div>
