﻿@model MVCuus.Models.Role

@{
    ViewBag.Title = "Details";
}
<link href="~/StyleSheet1.css" rel="stylesheet" />
<h2>@Html.DisplayFor(model => model.RoleName)</h2>

@*<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal" style="font-size:20px">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            <b>@Html.DisplayFor(model => model.RoleName)</b>
        </dd>

    </dl>
</div>*@

<h3>Selles rollis on järgmised inimesed:</h3>
<ol>
    @foreach(var x in Model.UserInRoles)
    {
        <li> @x.Person.FullName </li>
    }
</ol>



<p>
    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Muuda", "Edit", new {  id = Model.Id }, null)
        </div>
    </div>*@

            <b>@Html.ActionLink("Tagasi listi", "Index", null, new { @class = "btn btn-primary" })</b>
</p>
