﻿@model MVCuus.Models.Role

@{
    ViewBag.Title = "Edit";
}
@*<style>
    a {
        color: white
    }
</style>*@

<link href="~/StyleSheet1.css" rel="stylesheet" />
<h2>Muuda rolli</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="font-size:20px">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group" style="font-size:20px">
            @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvesta" class="btn btn-primary" />
</div>
        </div>
    </div>
}

    <div>
        <b>@Html.ActionLink("Tagasi listi", "Index",null,new { @class="btn btn-primary"})</b>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
