﻿@model IEnumerable<MVCuus.Models.Role>

@{
    ViewBag.Title = "Index";
}
<link href="~/StyleSheet1.css" rel="stylesheet" />
<h2>Rollid</h2>

<p>
    <b>@Html.ActionLink("Loo uus", "Create",null,new { @class="btn btn-primary"})</b>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detailid","Details", new { id=item.Id }) |
            @Html.ActionLink("Kustuta","Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
