﻿<br>
<br>
<a href="/People" target="_blank">Inimesed (People)</a><br>
<a href="/Departments" target="_blank">Osakonnad (Departments)</a><br>
<a href="/Roles" target="_blank">Rollid (Roles)</a><br>
<a href="/UserInRoles" target="_blank">UserInRoles</a><br>
<a href="/Files" target="_blank">Files</a><br>
<a href="/TravelPictures" target="_blank">Travel Pictures</a><br>
<a href="/Spendings" target="_blank">Spendings</a><br>
<a href="/Travels" target="_blank">Travels</a><br>
<a href="/SpendingTypes" target="_blank">Spending Types</a><br>




@*@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lõõtsa 8<br />
    Tallinn, 11415<br />
</address>

@if (Request.IsAuthenticated)
{
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
}*@
