﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Esileht</h2>
        <h3>Tere, @ViewBag.Kasutaja!</h3>
        <h3>Sinu roll on: @ViewBag.Rollid!</h3>

        <a href="/People" target="_blank">Inimesed (People)</a><br>
        <a href="/Departments" target="_blank">Osakonnad (Departments)</a><br>
        <a href="/Roles" target="_blank">Rollid (Roles)</a><br>
        <a href="/UserInRoles" target="_blank">UserInRoles</a><br>
        <a href="/Files" target="_blank">Files</a><br>
        <a href="/TravelPictures" target="_blank">Travel Pictures</a><br>
        <a href="/Spendings" target="_blank">Spendings</a><br>
        <a href="/Travels" target="_blank">Travels</a><br>
        <a href="/SpendingTypes" target="_blank">Spending Types</a><br>
    </div>
</div>