﻿@model MVCuus.Models.SpendingType

@{
    ViewBag.Title = "Delete";
}
<style>
    body {background-color: lightyellow}
</style>
<h2>Kustutamine</h2>

<h3>Kas oled kindel, et soovid kustutada selle kululiigi?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-size:20px">
            @Html.DisplayNameFor(model => model.SpendingName)
        </dt>

        <dd style="font-size:20px">
            @Html.DisplayFor(model => model.SpendingName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kustuta" class="btn btn-primary" />
            </div>
        </div>
        <b>@Html.ActionLink("Tagasi listi", "Index", null, new { @class = "btn btn-primary" })</b>
    }
</div>
