﻿@model MVCuus.Models.SpendingType

@{
    ViewBag.Title = "Details";
}
<style>
    body {background-color: lightyellow}
</style>
<h2>Detailid</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-size:20px">
            @Html.DisplayNameFor(model => model.SpendingName)
        </dt>

        <dd style="font-size:20px">
            @Html.DisplayFor(model => model.SpendingName)
        </dd>

    </dl>
</div>
<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <b>@Html.ActionLink("Muuda", "Edit", null, routeValues: new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })</b>
        </div>
</div>
    <p>
        <b>@Html.ActionLink("Tagasi listi", "Index", null, new { @class = "btn btn-primary" })</b>
    </p>
