﻿@model IEnumerable<MVCuus.Models.SpendingType>

@{
    ViewBag.Title = "Index";
}
<style>
    body {background-color: lightyellow}
</style>
<h2>Reisikulud</h2>

<p>
    <b>@Html.ActionLink("Loo uus", "Create",null,new { @class="btn btn-primary"})</b>
</p>
<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpendingName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpendingName)
        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detailid","Details", new { id=item.Id }) |
            @Html.ActionLink("Kustuta","Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
